<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Vue JS CDN -->
  <!-- For prototyping or learning purposes, you can use the latest version with -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- For production, we recommend linking to a specific version number and build to avoid unexpected breakage from newer versions: -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> -->

  <title>storage example</title>
</head>

<body>
  <h1>This is the head</h1>
  <p>This is the first paragraph</p>

  <div id="app">
    <p>
      My name is <input v-model="name">
      and I am <input v-model="age"> years old.
    </p>
    <p>
      <button @click="persist">Save</button>
    </p>
  </div>

  <script>
    const app = new Vue({
      el: '#app',
      data: {
        name: '',
        age: 0
      },
      mounted() {
        if (localStorage.name) {
          this.name = localStorage.name;
        }
        if (localStorage.age) {
          this.age = localStorage.age;
        }
      },
      methods: {
        persist() {
          localStorage.name = this.name;
          localStorage.age = this.age;
          console.log('now pretend i did more stuff...');
        }
      },
    })
  </script>
</body>

</html>